<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css')}}">
</head>

<body>
    <table>
        <tr>
            {% for i in range(0,int:side1):%}
            <td class='box-a'></td>
            <td class="box-b"></td>
            {%end for%}
        </tr>
        <tr>
            {% for j in range(0,int:side2):%}
            <td class='box-b'></td>
            <td class="box-a"></td>
            {%end for%}
        </tr>
    </table>
</body>

</html>