3

<div class="columns">
    <div class="column main"><input name="form_key" type="hidden" value="PefvQbePmuX6e2ZN">
        <div id="authenticationPopup" data-bind="scope:'authenticationPopup'">
            <div class="success-extras">
                <i class="far fa-check-circle"></i>
                <p>Thanks for your Submission!</p>
                <p class="success-lrg">
                    Sit back, relax or even better...go for a run! We'll take care of the rest.
                </p>
                <hr class="divider">
                <img src="https://assets.codepen.io/6554302/Daco_157319.png" id="arya" />
            </div>
        </div>
    </div>
</div>