<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CodePen - Login Form with floating placeholder and light button</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css')}}">

</head>

<body>
    <!-- partial:index.partial.html -->
    <div class="columns">
        <h1>Create a User</h1>
        <hr class="divider">
        <form action="/users" method="post">
            <div class="user-box">
                <label for="name">Name:</label>
                <input type="text" name="name">
            </div>
            <div class="user-box">
                <label for='age'>Age:</label>
                <input type='number' name='age'>
            </div>

            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <input type='submit' value='create user'>
            </a>
        </form>
    </div>
    <!-- partial -->

</body>

</html>