<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dojo Survey - Confirmation</title>
    <link rel='stylesheet' href='https://kit.fontawesome.com/acb1a51e7b.js'>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">

</head>

<body>
    <!-- partial:index.partial.html -->
    <div class="login-page">
        <div class="form">
            <img id='check' src="https://assets.codepen.io/6554302/output-onlinegiftools.gif" />
            <h1>Hearing Ya Loud and Clear!</div>
    </div>
    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://kit.fontawesome.com/acb1a51e7b.js'></script>
<script src="{{ url_for('static', filename='script.js')}}"></script>

</body>

</html>