* {
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

table td {
    height: 50px;
    width: 50px;
}

.box-a {
    background-color: silver;
}

.box-b {
    background-color: purple;
}